* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v101_3 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
  overflow: hidden;
}
.v101_4 {
  width: 100%;
  height: 975px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 62px;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
  overflow: hidden;
}
.v101_7 {
  width: 502px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 260px;
  left: 150px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v101_8 {
  width: 366px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 154px;
  left: 148px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v101_10 {
  width: 275px;
  height: 100px;
  background: url("../images/v101_10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 547px;
  left: 239px;
  overflow: hidden;
}
.v101_11 {
  width: 275px;
  height: 100px;
  background: rgba(251,86,15,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v101_12 {
  width: 92px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 27px;
  left: 91px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v266_7 {
  width: 275px;
  height: 100px;
  background: rgba(251,86,15,1);
  opacity: 1;
  position: absolute;
  top: 675px;
  left: 239px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v271_1700 {
  width: 202px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 703px;
  left: 278px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v101_17 {
  width: 36px;
  height: 48px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 276px;
  left: 690px;
}
.v101_18 {
  width: 36px;
  height: 48px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 732px;
  left: 889px;
}
.v101_19 {
  width: 462px;
  height: 107px;
  background: url("../images/v101_19.png");
  opacity: 1;
  position: absolute;
  top: 318px;
  left: 716px;
  border: 4px solid rgba(255,255,255,1);
}
.v101_20 {
  width: 54px;
  height: 47px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 92px;
  left: 1300px;
}
.v101_21 {
  width: 156px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 97px;
  left: 1580px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v101_22 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 360px;
  left: 1280px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v101_24 {
  width: 99px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 448px;
  left: 1313px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v101_25 {
  width: 122px;
  color: rgba(252,87,16,1);
  position: absolute;
  top: 448px;
  left: 1546px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v101_26 {
  width: 92px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 97px;
  left: 1799px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v101_27 {
  width: 77px;
  color: rgba(186,185,185,1);
  position: absolute;
  top: 276px;
  left: 1360px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v101_28 {
  width: 72px;
  color: rgba(177,173,173,1);
  position: absolute;
  top: 895px;
  left: 1871px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v101_29 {
  width: 598px;
  height: 5px;
  background: rgba(234,231,231,1);
  opacity: 1;
  position: absolute;
  top: 315px;
  left: 1303px;
  overflow: hidden;
}
.v101_30 {
  width: 24px;
  height: 25px;
  background: rgba(185,185,185,1);
  opacity: 1;
  position: absolute;
  top: 282px;
  left: 1320px;
}
.v101_31 {
  width: 79px;
  height: 10px;
  background: rgba(251,86,15,1);
  opacity: 1;
  position: absolute;
  top: 502px;
  left: 1567px;
  overflow: hidden;
}
.v101_32 {
  width: 201px;
  height: 301px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 560px;
  left: 1279px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v101_33 {
  width: 201px;
  height: 301px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 559px;
  left: 1522px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v101_34 {
  width: 201px;
  height: 301px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 559px;
  left: 1761px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v101_35 {
  width: 14px;
  height: 22px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 900px;
  left: 1382px;
}
.v101_36 {
  width: 14px;
  height: 22px;
  background: rgba(251,86,15,1);
  opacity: 1;
  position: absolute;
  top: 900px;
  left: 1487px;
}
.v101_37 {
  width: 20px;
  height: 27px;
  background: rgba(251,86,15,1);
  opacity: 1;
  position: absolute;
  top: 816px;
  left: 1301px;
}
.v101_38 {
  width: 20px;
  height: 27px;
  background: rgba(251,86,15,1);
  opacity: 1;
  position: absolute;
  top: 816px;
  left: 1541px;
}
.v101_39 {
  width: 20px;
  height: 27px;
  background: rgba(251,86,15,1);
  opacity: 1;
  position: absolute;
  top: 813px;
  left: 1781px;
}
.v101_40 {
  width: 148px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 775px;
  left: 1300px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v101_41 {
  width: 189px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 775px;
  left: 1530px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v101_42 {
  width: 165px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 775px;
  left: 1780px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v101_43 {
  width: 116px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 819px;
  left: 1328px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v101_44 {
  width: 116px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 820px;
  left: 1570px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v101_45 {
  width: 116px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 819px;
  left: 1813px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v205_47 {
  width: 122px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 448px;
  left: 1799px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v266_6 {
  width: 100px;
  height: 100px;
  background: url("../images/v266_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 397px;
  left: 360px;
  overflow: hidden;
}
