.root {
  position: relative;
  width: 1990px;
  height: 1024px;
  align-items: flex-start;
  border-radius: 90px;
  background-color: #fff;
  overflow: hidden;
}
.rectangle1 {
  position: absolute;
  left: 62px;
  top: 0;
  width: 1057px;
  height: 975px;
  border-radius: 90px;
  background-color: #d9d9d9;
  background-image:/* webpackIgnore: true */ url('/assets/rectangle1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.aUniqueExperienceWhereYouMeetN {
  color: #fff;
  font-size: 48px;
  font-weight: 500;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 150px;
  top: 260px;
  width: 502px;
  height: 188px;
  flex-direction: column;
}
.getReady {
  color: #fff;
  font-size: 64px;
  font-weight: bold;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 148px;
  top: 154px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle2 {
  position: absolute;
  left: 239px;
  top: 547px;
  width: 275px;
  height: 100px;
  border-radius: 20px;
  background-color: #fc5710;
}
.login {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 330px;
  top: 574px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle22 {
  position: absolute;
  left: 239px;
  top: 675px;
  width: 275px;
  height: 100px;
  border-radius: 20px;
  background-color: #fc5710;
}
.signUp {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 278px;
  top: 703px;
  width: 202px;
  height: 45.6311px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.vector {
  position: absolute;
  left: 34.6734%;
  right: 63.5176%;
  top: 26.9531%;
  bottom: 68.3594%;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.vector2 {
  position: absolute;
  left: 44.6734%;
  right: 53.5176%;
  top: 71.4844%;
  bottom: 23.8281%;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.line1 {
  position: absolute;
  left: 630px;
  top: 318px;
  width: 364.5755px;
  height: 433.3251px;
  overflow: visible;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.vector3 {
  position: absolute;
  left: 65.3266%;
  right: 31.9598%;
  top: 8.9844%;
  bottom: 86.4258%;
  overflow: visible;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.discounts {
  color: #000;
  font-size: 32px;
  font-weight: bold;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1580px;
  top: 97px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.discover {
  color: #000;
  font-size: 40px;
  font-weight: bold;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1280px;
  top: 360px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.places {
  color: #000;
  font-size: 32px;
  font-weight: 500;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1313px;
  top: 448px;
  width: 99px;
  height: 48px;
  flex-direction: column;
}
.housing {
  color: #fc5710;
  font-size: 32px;
  font-weight: 500;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1546px;
  top: 448px;
  width: 122px;
  height: 48px;
  flex-direction: column;
}
.home {
  color: #000;
  font-size: 32px;
  font-weight: bold;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1799px;
  top: 97px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.search {
  color: #bab9b9;
  font-size: 24px;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1360px;
  top: 276px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.seeAll {
  color: #b1aeae;
  font-size: 24px;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1871px;
  top: 895px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle5 {
  position: absolute;
  left: 1303px;
  top: 315px;
  width: 598px;
  height: 5px;
  background-color: #ebe8e8;
}
.vector4 {
  position: absolute;
  left: 66.3317%;
  right: 32.4122%;
  top: 27.5391%;
  bottom: 70.0193%;
  overflow: visible;
}
.icon5 {
  width: 100%;
  height: 100%;
}
.rectangle6 {
  position: absolute;
  left: 1567px;
  top: 502px;
  width: 79px;
  height: 10px;
  background-color: #fc5710;
}
.rectangle7 {
  position: absolute;
  left: 1279px;
  top: 560px;
  width: 201px;
  height: 301px;
  border-radius: 20px;
  background-color: #d9d9d9;
  background-image:/* webpackIgnore: true */ url('/assets/rectangle7.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rectangle8 {
  position: absolute;
  left: 1522px;
  top: 559px;
  width: 201px;
  height: 301px;
  border-radius: 20px;
  background-color: #d9d9d9;
  background-image:/* webpackIgnore: true */ url('/assets/rectangle8.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rectangle9 {
  position: absolute;
  left: 1761px;
  top: 559px;
  width: 201px;
  height: 301px;
  border-radius: 20px;
  background-color: #d9d9d9;
  background-image:/* webpackIgnore: true */ url('/assets/rectangle9.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.vector5 {
  position: absolute;
  left: 69.4472%;
  right: 29.8492%;
  top: 87.8906%;
  bottom: 9.9609%;
  overflow: visible;
}
.icon6 {
  width: 100%;
  height: 100%;
}
.vector6 {
  position: absolute;
  left: 74.7236%;
  right: 24.5729%;
  top: 87.8906%;
  bottom: 9.9609%;
  overflow: visible;
}
.icon7 {
  width: 100%;
  height: 100%;
}
.vector7 {
  position: absolute;
  left: 65.3769%;
  right: 33.6181%;
  top: 79.6875%;
  bottom: 17.6758%;
  overflow: visible;
}
.icon8 {
  width: 100%;
  height: 100%;
}
.vector8 {
  position: absolute;
  left: 77.4372%;
  right: 21.5578%;
  top: 79.6875%;
  bottom: 17.6758%;
  overflow: visible;
}
.icon9 {
  width: 100%;
  height: 100%;
}
.vector9 {
  position: absolute;
  left: 89.4975%;
  right: 9.4975%;
  top: 79.3945%;
  bottom: 17.9688%;
  overflow: visible;
}
.icon10 {
  width: 100%;
  height: 100%;
}
.royalGalaxy {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1300px;
  top: 775px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.blueMoonHotel {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1530px;
  top: 775px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.redVelvetInn {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1780px;
  top: 775px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.distance12km {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1328px;
  top: 819px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.distance12km2 {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1570px;
  top: 820px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.distance12km3 {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1813px;
  top: 819px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.people {
  color: #000;
  font-size: 32px;
  font-weight: 500;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1799px;
  top: 448px;
  width: 122px;
  height: 99px;
  flex-direction: column;
}
.frame1 {
  position: absolute;
  left: 360px;
  top: 397px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
