.root {
  position: absolute;
  left: 20px;
  top: 103px;
  width: 48px;
  height: 48px;
  align-items: flex-start;
  outline: solid 3px #590de5;
  outline-offset: -3px;
  border-radius: 10px;
  background-color: #590de5;
}
.vector {
  z-index: 0;
  position: absolute;
  left: 16.0417%;
  right: 16.1458%;
  top: 25.4167%;
  bottom: 25.625%;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
