.101_3 { 
	overflow:hidden;
}.e101_3 { 
	background-color:rgba(255, 255, 255, 1);
	width:1990px;
	height:1024px;
	border-top-left-radius:90px;
	border-top-right-radius:90px;
	border-bottom-left-radius:90px;
	border-bottom-right-radius:90px;
	position:absolute;
}.e101_4 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1057px;
	height:975px;
	position:absolute;
	left:62px;
	top:0px;
	border-top-left-radius:90px;
	border-top-right-radius:90px;
	border-bottom-left-radius:90px;
	border-bottom-right-radius:90px;
	background-image:url(images/rectangle_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e101_7 { 
	color:rgba(255, 255, 255, 1);
	width:502px;
	height:188px;
	position:absolute;
	left:150px;
	top:260px;
	font-family:DM Sans;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e101_8 { 
	color:rgba(255, 255, 255, 1);
	width:366px;
	height:83px;
	position:absolute;
	left:148px;
	top:154px;
	font-family:DM Sans;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}.e101_10 { 
	width:275px;
	height:100px;
	position:absolute;
	left:239px;
	top:547px;
}.e101_11 { 
	background-color:rgba(251.81250303983688, 86.56055599451065, 15.738284289836884, 1);
	width:275px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e101_12 { 
	color:rgba(255, 255, 255, 1);
	width:92px;
	height:47px;
	position:absolute;
	left:91px;
	top:27px;
	font-family:DM Sans;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}.e266_7 { 
	background-color:rgba(251.81250303983688, 86.56055599451065, 15.738284289836884, 1);
	width:275px;
	height:100px;
	position:absolute;
	left:239px;
	top:675px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e271_1700 { 
	color:rgba(255, 255, 255, 1);
	width:202px;
	height:45.63106918334961px;
	position:absolute;
	left:278px;
	top:703px;
	font-family:DM Sans;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}.e101_17 { 
	background-color:rgba(255, 255, 255, 1);
	width:36px;
	height:48px;
	position:absolute;
	left:690px;
	top:276px;
}.e101_18 { 
	background-color:rgba(255, 255, 255, 1);
	width:36px;
	height:48px;
	position:absolute;
	left:889px;
	top:732px;
}.e101_19 { 
	transform: rotate(52.875223436326706deg);
	width:462.18634033203125px;
	height:107.3863525390625px;
	position:absolute;
	left:715.62158203125px;
	top:318px;
}.101_19 { 
	border:4px solid rgba(255, 255, 255, 1);
}.e101_20 { 
	background-color:rgba(0, 0, 0, 1);
	width:54px;
	height:47px;
	position:absolute;
	left:1300px;
	top:92px;
}.e101_21 { 
	color:rgba(0, 0, 0, 1);
	width:156px;
	height:42px;
	position:absolute;
	left:1580px;
	top:97px;
	font-family:DM Sans;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e101_22 { 
	color:rgba(0, 0, 0, 1);
	width:169px;
	height:52px;
	position:absolute;
	left:1280px;
	top:360px;
	font-family:DM Sans;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e101_24 { 
	color:rgba(0, 0, 0, 1);
	width:99px;
	height:48px;
	position:absolute;
	left:1313px;
	top:448px;
	font-family:DM Sans;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e101_25 { 
	color:rgba(252.00000017881393, 87.00000241398811, 16.000000946223736, 1);
	width:122px;
	height:48px;
	position:absolute;
	left:1546px;
	top:448px;
	font-family:DM Sans;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e101_26 { 
	color:rgba(0, 0, 0, 1);
	width:92px;
	height:42px;
	position:absolute;
	left:1799px;
	top:97px;
	font-family:DM Sans;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e101_27 { 
	color:rgba(186.0000041127205, 185.00000417232513, 185.00000417232513, 1);
	width:77px;
	height:31px;
	position:absolute;
	left:1360px;
	top:276px;
	font-family:DM Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e101_28 { 
	color:rgba(177.43749797344208, 173.74088913202286, 173.74088913202286, 1);
	width:72px;
	height:31px;
	position:absolute;
	left:1871px;
	top:895px;
	font-family:DM Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e101_29 { 
	background-color:rgba(234.81250405311584, 231.8773439526558, 231.8773439526558, 1);
	width:598px;
	height:5px;
	position:absolute;
	left:1303px;
	top:315px;
}.e101_30 { 
	background-color:rgba(185.9375050663948, 185.16277223825455, 185.16277223825455, 1);
	width:24.998170852661133px;
	height:25.00244140625px;
	position:absolute;
	left:1320px;
	top:282px;
}.e101_31 { 
	background-color:rgba(251.81250303983688, 86.56055599451065, 15.738284289836884, 1);
	width:79px;
	height:10px;
	position:absolute;
	left:1567px;
	top:502px;
}.e101_32 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:201px;
	height:301px;
	position:absolute;
	left:1279px;
	top:560px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-image:url(images/rectangle_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e101_33 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:201px;
	height:301px;
	position:absolute;
	left:1522px;
	top:559px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-image:url(images/rectangle_8.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e101_34 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:201px;
	height:301px;
	position:absolute;
	left:1761px;
	top:559px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-image:url(images/rectangle_9.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e101_35 { 
	background-color:rgba(0, 0, 0, 1);
	width:14px;
	height:22px;
	position:absolute;
	left:1382px;
	top:900px;
}.e101_36 { 
	background-color:rgba(251.81250303983688, 86.56055599451065, 15.738284289836884, 1);
	width:14px;
	height:22px;
	position:absolute;
	left:1487px;
	top:900px;
}.e101_37 { 
	background-color:rgba(251.81250303983688, 86.56055599451065, 15.738284289836884, 1);
	width:20px;
	height:27px;
	position:absolute;
	left:1301px;
	top:816px;
}.e101_38 { 
	background-color:rgba(251.81250303983688, 86.56055599451065, 15.738284289836884, 1);
	width:20px;
	height:27px;
	position:absolute;
	left:1541px;
	top:816px;
}.e101_39 { 
	background-color:rgba(251.81250303983688, 86.56055599451065, 15.738284289836884, 1);
	width:20px;
	height:27px;
	position:absolute;
	left:1781px;
	top:813px;
}.e101_40 { 
	color:rgba(255, 255, 255, 1);
	width:148px;
	height:31px;
	position:absolute;
	left:1300px;
	top:775px;
	font-family:DM Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e101_41 { 
	color:rgba(255, 255, 255, 1);
	width:189px;
	height:31px;
	position:absolute;
	left:1530px;
	top:775px;
	font-family:DM Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e101_42 { 
	color:rgba(255, 255, 255, 1);
	width:165px;
	height:31px;
	position:absolute;
	left:1780px;
	top:775px;
	font-family:DM Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e101_43 { 
	color:rgba(255, 255, 255, 1);
	width:116px;
	height:21px;
	position:absolute;
	left:1328px;
	top:819px;
	font-family:DM Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e101_44 { 
	color:rgba(255, 255, 255, 1);
	width:116px;
	height:21px;
	position:absolute;
	left:1570px;
	top:820px;
	font-family:DM Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e101_45 { 
	color:rgba(255, 255, 255, 1);
	width:116px;
	height:21px;
	position:absolute;
	left:1813px;
	top:819px;
	font-family:DM Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e205_47 { 
	color:rgba(0, 0, 0, 1);
	width:122px;
	height:99px;
	position:absolute;
	left:1799px;
	top:448px;
	font-family:DM Sans;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e266_6 { 
	width:100px;
	height:100px;
	position:absolute;
	left:360px;
	top:397px;
}