.root {
  position: relative;
  width: 1990px;
  height: 1024px;
  align-items: flex-start;
  border-radius: 90px;
  background-color: #fff;
  overflow: hidden;
}
.places {
  color: #000;
  font-size: 64px;
  font-weight: bold;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 75px;
  top: 34px;
  width: 221px;
  height: 73px;
  flex-direction: column;
}
._1 {
  color: #000;
  font-size: 32px;
  font-weight: bold;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 55px;
  top: 788px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._3 {
  color: #000;
  font-size: 32px;
  font-weight: bold;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 405px;
  top: 788px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.group1 {
  position: absolute;
  left: 142px;
  top: 797px;
  width: 238px;
  height: 27px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.vector {
  position: absolute;
  left: 25.2764%;
  right: 73.7688%;
  top: 77.5391%;
  bottom: 19.5313%;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.vector2 {
  position: absolute;
  left: 70.8543%;
  right: 26.4322%;
  top: 7.3835%;
  bottom: 88.0266%;
  overflow: visible;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.home {
  color: #000;
  font-size: 32px;
  font-weight: bold;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1810px;
  top: 84px;
  width: 135px;
  height: 47px;
  flex-direction: column;
}
.royalGalaxy {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1300px;
  top: 775px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.redVelvetInn {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1780px;
  top: 775px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.distance12km {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1570px;
  top: 820px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.distance12km2 {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1813px;
  top: 819px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.searchResultsForBali {
  color: #000;
  font-size: 40px;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 5.5276%;
  right: 71.5075%;
  top: 16.6016%;
  bottom: 78.125%;
  flex-direction: column;
}
.rectangle7 {
  position: absolute;
  left: 102px;
  top: 362px;
  width: 235px;
  height: 288px;
  border-radius: 20px;
  background-color: #d9d9d9;
  background-image:/* webpackIgnore: true */ url('/assets/rectangle7.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rectangle8 {
  position: absolute;
  left: 481px;
  top: 362px;
  width: 235px;
  height: 288px;
  border-radius: 20px;
  background-color: #d9d9d9;
  background-image:/* webpackIgnore: true */ url('/assets/rectangle8.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.nungWaterFall {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 511px;
  top: 587px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle9 {
  position: absolute;
  left: 861px;
  top: 362px;
  width: 235px;
  height: 288px;
  border-radius: 20px;
  background-color: #d9d9d9;
  background-image:/* webpackIgnore: true */ url('/assets/rectangle9.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.distance12km3 {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 174px;
  top: 618px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.greenBowlBeach {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 880px;
  top: 587px;
  width: 210px;
  height: 43px;
  flex-direction: column;
}
.rectangle10 {
  position: absolute;
  left: 1227px;
  top: 362px;
  width: 237px;
  height: 288px;
  border-radius: 20px;
  background-color: #d9d9d9;
  background-image:/* webpackIgnore: true */ url('/assets/rectangle10.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.subakMuseum {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1257px;
  top: 587px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle11 {
  position: absolute;
  left: 1606px;
  top: 362px;
  width: 236px;
  height: 288px;
  border-radius: 20px;
  background-color: #d9d9d9;
  background-image:/* webpackIgnore: true */ url('/assets/rectangle11.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.frame1 {
  position: absolute;
  left: 1649px;
  top: 577px;
  width: min-content;
  height: 52px;
  align-items: flex-start;
  padding: 10px;
}
.artMarket {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 129px;
  height: 33px;
  flex-direction: column;
}
.mountBatur {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 145px;
  top: 587px;
  width: 148px;
  height: 31px;
  flex-direction: column;
}
.filter {
  color: #000;
  font-size: 40px;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1478px;
  top: 71px;
  width: 260px;
  height: 52px;
  flex-direction: column;
}
.distance12km4 {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 916px;
  top: 619px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.distance12km5 {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 541px;
  top: 619px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.vector3 {
  position: absolute;
  left: 44.5226%;
  right: 54.4724%;
  top: 60.3516%;
  bottom: 37.0117%;
  overflow: visible;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.vector4 {
  position: absolute;
  left: 63.3166%;
  right: 35.6784%;
  top: 60.3516%;
  bottom: 37.0117%;
  overflow: visible;
}
.icon5 {
  width: 100%;
  height: 100%;
}
.vector5 {
  position: absolute;
  left: 25.6784%;
  right: 73.3166%;
  top: 60.3516%;
  bottom: 37.0117%;
  overflow: visible;
}
.icon6 {
  width: 100%;
  height: 100%;
}
.vector6 {
  position: absolute;
  left: 83.3668%;
  right: 15.6281%;
  top: 60.3516%;
  bottom: 37.0117%;
  overflow: visible;
}
.icon7 {
  width: 100%;
  height: 100%;
}
.vector7 {
  position: absolute;
  left: 7.2864%;
  right: 91.7085%;
  top: 60.0586%;
  bottom: 37.3047%;
  overflow: visible;
}
.icon8 {
  width: 100%;
  height: 100%;
}
