.root {
  position: relative;
  width: 1990px;
  height: 1024px;
  align-items: flex-start;
  border-radius: 90px;
  background-color: #fff;
  overflow: hidden;
}
.vector {
  position: absolute;
  left: 81.3065%;
  right: 15.9799%;
  top: 6.4837%;
  bottom: 88.9265%;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.home {
  color: #000;
  font-size: 32px;
  font-weight: bold;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1722px;
  top: 67px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._1 {
  color: #000;
  font-size: 32px;
  font-weight: bold;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 401px;
  top: 906px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.group1 {
  position: absolute;
  left: 791px;
  top: 916px;
  width: 238px;
  height: 27px;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
._2 {
  color: #000;
  font-size: 32px;
  font-weight: bold;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1316px;
  top: 906px;
  width: 41px;
  height: min-content;
  flex-direction: column;
}
.vector2 {
  position: absolute;
  left: 71.3568%;
  right: 27.6884%;
  top: 88.6719%;
  bottom: 8.3984%;
  overflow: visible;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.macaron_bg {
  position: absolute;
  left: 308px;
  top: 136px;
  width: 517px;
  height: 683px;
  outline: solid 1px #000;
  outline-offset: -1px;
  background-image:/* webpackIgnore: true */ url('assets/macaron_bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(15px);
}
.jamieBrownWm4DuvIpLj8Unsplash1 {
  position: absolute;
  left: 231px;
  top: 252px;
  width: 594.433px;
  height: 391.7165px;
  background-image:/* webpackIgnore: true */ url('assets/jamieBrownWm4DuvIpLj8Unsplash1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-mask-image:/* webpackIgnore: true */ url('assets/mask_profile_pic.svg');
  mask-image:/* webpackIgnore: true */ url('assets/mask_profile_pic.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: 180px 45px;
  mask-position: 180px 45px;
  -webkit-mask-size: 310px 347px;
  mask-size: 310px 347px;
}
.setProfilePicture {
  color: #000;
  font-size: 24px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 296px;
  top: 81px;
  width: 541px;
  height: 32px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.enterDetails {
  color: #000;
  font-size: 24px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1057px;
  top: 86px;
  width: 541px;
  height: 32px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.rectangle6 {
  position: absolute;
  left: 1148px;
  top: 577.5385px;
  width: 386px;
  height: 48.4615px;
  outline: solid 1px #b156b2;
  outline-offset: -1px;
  border-radius: 12px;
}
.password {
  color: #000;
  font-size: 18px;
  line-height: 20px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1167px;
  top: 542px;
  width: 80px;
  height: 21.5385px;
  flex-direction: column;
}
.unnamed {
  color: #000;
  font-size: 22px;
  line-height: 20px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1176px;
  top: 595.8462px;
  width: 162px;
  height: 21.5385px;
  flex-direction: column;
}
.rectangle62 {
  position: absolute;
  left: 1148px;
  top: 701px;
  width: 386px;
  height: 112px;
  outline: solid 1px #b156b2;
  outline-offset: -1px;
  border-radius: 12px;
}
.aboutMe {
  color: #000;
  font-size: 18px;
  line-height: 20px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1167px;
  top: 668px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.loveCookingBakeryAddictCulinar {
  position: absolute;
  left: 1176px;
  top: 718px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.textBlock {
  color: #000;
  font-size: 22px;
  line-height: 20px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock2 {
  color: #000;
  font-size: 22px;
  line-height: 20px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.rectangle4 {
  position: absolute;
  left: 1148px;
  top: 433px;
  width: 386px;
  height: 54px;
  outline: solid 1px #b156b2;
  outline-offset: -1px;
  border-radius: 12px;
}
.username {
  color: #000;
  font-size: 18px;
  line-height: 20px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1167px;
  top: 400px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.ivanaYummyfoodies {
  color: #000;
  font-size: 22px;
  line-height: 20px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1176px;
  top: 450px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle3 {
  position: absolute;
  left: 1148px;
  top: 307px;
  width: 386px;
  height: 54px;
  outline: solid 1px #b156b2;
  outline-offset: -1px;
  border-radius: 12px;
}
.fullName {
  color: #000;
  font-size: 18px;
  line-height: 20px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1174px;
  top: 272px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.ivanaKiara {
  color: #000;
  font-size: 22px;
  line-height: 20px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1183px;
  top: 322px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle2 {
  position: absolute;
  left: 1148px;
  top: 163px;
  width: 386px;
  height: 54px;
  outline: solid 1px #b156b2;
  outline-offset: -1px;
  border-radius: 12px;
}
.email {
  color: #000;
  font-size: 18px;
  line-height: 20px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1167px;
  top: 130px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.ivanaKiaraGmailCom {
  color: #000;
  font-size: 22px;
  line-height: 20px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1176px;
  top: 180px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
