.component1.component1 {
  left: 282px;
  top: 256px;
}
.vector.vector {
  z-index: 0;
  position: absolute;
  left: 16.0417%;
  right: 16.1458%;
  top: 25.4167%;
  bottom: 25.625%;
  overflow: visible;
}
.component12.component12 {
  left: 18px;
  top: 253px;
}
.vector2.vector2 {
  z-index: 0;
  position: absolute;
  left: 16.0417%;
  right: 16.1458%;
  top: 25.4167%;
  bottom: 25.625%;
  overflow: visible;
}
.component13.component13 {
  left: 559px;
  top: 253px;
}
.vector3.vector3 {
  z-index: 0;
  position: absolute;
  left: 16.0417%;
  right: 16.1458%;
  top: 25.4167%;
  bottom: 25.625%;
  overflow: visible;
}
.component14.component14 {
  left: 852px;
  top: 253px;
}
.vector4.vector4 {
  z-index: 0;
  position: absolute;
  left: 16.0417%;
  right: 16.1458%;
  top: 25.4167%;
  bottom: 25.625%;
  overflow: visible;
}
.component15.component15 {
  left: 852px;
  top: 253px;
  outline: solid 3px #6422dd;
  background-color: #6422dd;
}
.component16.component16 {
  left: 1130px;
  top: 253px;
}
.vector5.vector5 {
  z-index: 0;
  position: absolute;
  left: 16.0417%;
  right: 16.1458%;
  top: 25.4167%;
  bottom: 25.625%;
  overflow: visible;
}
.component17.component17 {
  left: 1392px;
  top: 253px;
}
.vector6.vector6 {
  z-index: 0;
  position: absolute;
  left: 16.0417%;
  right: 16.1458%;
  top: 25.4167%;
  bottom: 25.625%;
  overflow: visible;
}
.component18.component18 {
  left: 1722px;
  top: 256px;
}
.vector7.vector7 {
  z-index: 0;
  position: absolute;
  left: 16.0417%;
  right: 16.1458%;
  top: 25.4167%;
  bottom: 25.625%;
  overflow: visible;
}
.root {
  position: relative;
  width: 1990px;
  height: 1024px;
  align-items: flex-start;
  border-radius: 90px;
  background-color: #fff;
  overflow: hidden;
}
.vector8 {
  position: absolute;
  left: 81.3065%;
  right: 15.9799%;
  top: 6.4837%;
  bottom: 88.9265%;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.home {
  color: #000;
  font-size: 32px;
  font-weight: bold;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1722px;
  top: 67px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.vector9 {
  position: absolute;
  left: 27.7387%;
  right: 71.5578%;
  top: 92.5781%;
  bottom: 5.2734%;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.royalGalaxy {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1300px;
  top: 775px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.blueMoonHotel {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1530px;
  top: 775px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.distance12km {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1813px;
  top: 819px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.group1 {
  position: absolute;
  left: 876px;
  top: 923px;
  width: 238px;
  height: 25px;
  overflow: visible;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.tellUsAboutYourInterestsToGive {
  position: absolute;
  left: 109px;
  top: 75px;
  width: 1045px;
  height: 57px;
  flex-direction: column;
}
.textBlock {
  color: #000;
  font-size: 32px;
  font-weight: bold;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock2 {
  margin-top: 0;
  color: #000;
  font-size: 32px;
  font-weight: bold;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock3 {
  margin-top: 0;
  color: #000;
  font-size: 32px;
  font-weight: bold;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.adventure {
  color: #000;
  font-size: 24px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 275px;
  top: 266px;
  width: 253px;
  height: 38px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.history {
  color: #000;
  font-size: 24px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 555px;
  top: 266px;
  width: 253px;
  height: 38px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.nature {
  color: #000;
  font-size: 24px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 836px;
  top: 269px;
  width: 253px;
  height: 38px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.food {
  color: #000;
  font-size: 24px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1114px;
  top: 266px;
  width: 253px;
  height: 38px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.shopping {
  color: #000;
  font-size: 24px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1408px;
  top: 266px;
  width: 253px;
  height: 38px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.beach {
  color: #000;
  font-size: 24px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 5px;
  top: 263px;
  width: 253px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.nightlife {
  color: #000;
  font-size: 24px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1730px;
  top: 273px;
  width: 253px;
  height: 38px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.image1 {
  position: absolute;
  left: 14px;
  top: 319px;
  width: 239px;
  height: 500px;
  background-image:/* webpackIgnore: true */ url('assets/image1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.image2 {
  position: absolute;
  left: 282px;
  top: 319px;
  width: 246px;
  height: 500px;
  background-image:/* webpackIgnore: true */ url('assets/image2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.image3 {
  position: absolute;
  left: calc(50% - 313.5179px);
  top: calc(50% - -57px);
  width: 258.9641px;
  height: 500px;
  background-image:/* webpackIgnore: true */ url('assets/image3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translate(-50%, -50%);
}
.image4 {
  position: absolute;
  left: 840px;
  top: 319px;
  width: 247.0703px;
  height: 500px;
  background-image:/* webpackIgnore: true */ url('assets/image4.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.image5 {
  position: absolute;
  left: 1116px;
  top: 319px;
  width: 245px;
  height: 500px;
  background-image:/* webpackIgnore: true */ url('assets/image5.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.image6 {
  position: absolute;
  left: 1390px;
  top: 328px;
  width: 255px;
  height: 491px;
  background-image:/* webpackIgnore: true */ url('assets/image6.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.image7 {
  position: absolute;
  left: 1693px;
  top: 328px;
  width: 271px;
  height: 498px;
  background-image:/* webpackIgnore: true */ url('assets/image7.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
